* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    margin-left: 70px;
    margin-right: 70px;
    background-color: #444444;
}


.header {
    height: 50px;
    width: 100%;
    background-color: #CCFFCC;

} 
.header_l2{
    display: flex;
}
.chu_home{
    padding: 12px 10px;
}

.header a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    padding: 5px;
  }



.header ul li{
    
    border-right: solid 1px black ;
    padding: 10px;
    
}

#licuoi{
    border-right: none;
    padding-right: 20px;
}





.content{
    background-color: #222222;
    /*position: relative;*/
}

#khung_tieude{
    padding: 10px 5px;
}
#tieu_de{
    /*position:absolute;*/
    padding:3px 5px;
    border-left: solid 3px blue ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hang{
    /*position:absolute;*/
    display: flex;
    justify-content:center ;
    
}

.don{
   padding: 10px;
}
.anh img{
    height:250px;
    width: 250px;
}



