
#header{
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    z-index: 2;
}
#carouselExampleCaptions{
	margin-top: 57px;
	z-index: 1;
}

.body{
	background-color: #444444;
}
.container{
/*	background-color: darkblue ;*/
}
.carousel-item img{
	height: 670px;
	width : auto;
}




.content{
display: flex;
}
.content .box_1{
	height: auto;
	width : 68%;
	background-color:  #222222;
}
.nhom_phim{
	color:  white;
	border-left: 3px solid #3399FF;
	padding-left: 4px;
	margin-left: 6px;
	margin-top: 30px;
}
.content_trong_box{
	display: flex;
}
.content_trong_box img{
	height:285px ;
	width: 200px ;
	margin: 10px;

}
.tung_phim{
	position: relative;
	margin-bottom: 40px;
}
.ten_phim{
	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;

 	height:37px ;
 	width: 200px ;
  	background-color: #111111;

	margin: 10px 0px;

}
.ten_phim p{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}



.content .box_2{
	height: auto;
	width : 32%;
	background-color:  #222222;
}

.box_2 .phim_sap_chieu{
	color :white;
	border-bottom: 2px dashed #b1154a;
	margin-left: 25px;
	margin-top:  30px;
	padding-top: 5px;
	padding-bottom: 5px; 
	margin-bottom: 15px ;

}
.box_2 .box_21{
	
}

.box_211{
	display: flex;
	margin-left: 25px;
	padding: 7px 0px;
}

.box_211 img{
	height:200px ;
	width: 150px ;
}
.ten_trong_phim_sap_chieu{
	color: white;
	padding-top: 2px;
	padding-left: 5px;

}

.ba_cai_nut{
	margin-left: 13%;
	/*background-color: red;*/
}
.nut{
	padding: 5px 35px;
	border-radius: 3px;

	
}

.so_trang{
	
	margin: 25px 0px;
	.justify-content-center;
	/*left: 50%;


  	transform: translate(-50%, -50%);*/

}

.footer{

	
	
}